<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Michael Wittig</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/technologies.html">technologies</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">projects <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/projects/awsinaction.html">Amazon Web Service in Action</a></li>
                <li><a href="/projects/timeseriesguru.html">TimeSeries.Guru</a></li>
                <li><a href="/projects/8mountains.html">8mountains</a></li>
                <li><a href="/projects/pagechimp.html">PageChimp</a></li>
                <li><a href="/projects/gotit.html">Got !t</a></li>
                <li><a href="/projects/ledgr.html">ledgr</a></li>
                <li class="divider"></li>
                <li><a href="/projects/lunchroulette.html">Lunch Roulette</a></li>
                <li><a href="/projects/javachallenge.html">JavaChallenge</a></li>
                <li class="divider"></li>
                <li><a href="/projects/myguv.html">myGuV</a></li>
                <li><a href="/projects/cruelwars.html">CruelWars</a></li>
              </ul>
            </li>
            <li><a href="/talks.html">talks</a></li>
            <li><a href="/books.html">books</a></li>
            <li><a href="/articles.html">articles</a></li>
            <li><a href="/studies.html">studies</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
