{{ partial "header.html" . }}
<div class="row">
	<div class="col-lg-5 col-md-12">
		<h2>hej!</h2>
		<p>
			I'm a cloud architect and software developer. I'm interested in data, programming, web and finance. To explore new <a href="/technologies.html">technologies</a> I have a few <a href="/projects/">projects</a> running. I also <a href="/talks.html">talk</a> about topics I care about.
		</p>
		<p>
			I read <a href="/books.html">books</a> and since very recently I started to write a book about Amazon Web Services published by <a href="http://manning.com/wittig?a_aid=mwittig&amp;a_bid=cc17df85">Manning</a>. I write short <a href="/articles.html">articles</a> about topics I'm interested in. 
		</p>
		<p>
			You can find my code on <a href="https://github.com/michaelwittig"><img src="/images/github.png">&nbsp;GitHub</a>, my thoughts on <a href="https://twitter.com/hellomichibye"><img src="/images/twitter.png">&nbsp;Twitter</a> and my pictures on <a href="https://instagram.com/hellomichibye/"><img src="/images/instagram.png">&nbsp;Instagram</a>.
		</p>
		<p>
			Together with my brother <a href="http://andreaswittig.info">Andreas</a>, I run a consultancy focused on Amazon Web Services and web development: <a href="https://widdix.de">widdix</a>. I migrated the complete IT infrastructure of the first Bank in Germany to Amazon Web Services. I have expertise in distributed system development and architecture, with experience in algorithmic trading and real-time analytics.
		</p>
	</div>
	<div class="col-lg-7 col-md-12">
		<p><img src="/images/cover.jpg" class="img-responsive img-rounded" style="margin: 0 auto;"></p>
	</div>
</div>
{{ partial "footer.html" . }}
